version: '3.8'

services:
  backend:
    build: ./backend
    container_name: odev_backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    container_name: odev_frontend
    ports:
      - "8080:80"
    restart: always
    depends_on:
      - backend
